*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: skyblue;

}
form{
    width: 100%;
    
}
.textInput{
    background-color: springgreen;
}
.selectContainer{
    display: flex;
    gap:10px;
}
